body {
color: #404040;
background-color: #ffffff;
font-family: Verdana, Geneva, Arial, sans-serif;
font-size :1em;
line-height: 130%;
text-align: left;
}
.banner {
	margin: 0 0 0 0;
	height:15px;
	background-image: url(SpecJT_1.html);
}

h1 {
font-family: Georgia, "Times New Roman", Times, serif;
color: #cc6600;
font-size: 1.4em;
padding-top: .60em;
padding-bottom: 0;
margin-bottom: 0;
}

h2 {
font-family: Georgia, "Times New Roman", Times, serif;
color: #cc6600;
background-color: #ffffff;
font-size: 1.3em;
padding-top: .60em;
padding-bottom: 0;
margin-bottom: 0;
}

h3 {
font-family: Georgia, "Times New Roman", Times, serif;
color: #666633;
background-color: #ffffff;
font-size: 1.2em;
padding-top: 0;
padding-bottom: 0;
margin-bottom: 0;
}

h4 {
font-family: Georgia, "Times New Roman", Times, serif;
color: #666633;
background-color: #ffffff;
font-size: 1.1em;
padding-top: 0;
padding-bottom: 0;
margin-bottom: 0;
}

h5 {
font-family: Verdana;
color: #996600;
background-color: #ffffff;
font-size: 1em;
padding-top: 0;
padding-bottom: 0;
margin-bottom: 0;
}


TABLE {
	font-size : .9em;
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-style : normal;
	font-weight : normal;
}

form {
padding-bottom: 0;
margin-bottom: 0;

}

p.first {
margin-top: 0;
padding-top: 0;
}

p.header {
font-size:.7em;
margin-top: 0;
padding-top: 0;

}

SPAN.small {
font-size: .9em;
line-height: 160%;
}
